:root {
  --header-bg: linear-gradient(#d66b0d, #e09238);
  --header-text: black;
  --background: linear-gradient(#679bf0, #072d69);
  --text-color: black;
  --footer-bg: lightgray;
  --footer-text: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraCode Nerd Font Mono", monospace;
}

html,
body {
  height: 100%;
  overflow-y: auto;
  background-image: var(--background);
  color: var(--text-color);
  background-size: cover;
  background-repeat: no-repeat;
}

header {
  background-image: var(--header-bg);
  color: var(--header-text);
  width: 100%;
  border-bottom: 3px solid black;
  text-align: center;
  padding: 1rem;
}

.project {
  background-color: white;
  border-radius: 10px;
  margin: 15px 2% 5px 2%;
  border: 3px solid black;
  padding: 3px 0 2px 5px;
}

.project>img {
  width: 10cm;
  margin: 10px;
}

.project-title {
  font-size: 18pt;
  padding: 10px 5px 3px 5px;
  margin-bottom: 10px;
  border-bottom: 1px solid gray;
  border-radius: inherit;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background 1s;
}

.short-desc {
  font-size: 16pt;
  padding-bottom: 5px;
}

.long-desc {
  height: 0;
  font-size: 12pt;
  max-height: 40vh;
  overflow-y: auto;
  transition: height 0.5s ease;
}

.project-title:hover {
  background-color: #d0d0d0;
}

@media (max-width: 20cm) {
  .project {
    justify-content: center;
  }

  .project>img {
    width: 70%;
  }

  .project-title {
    background-color: blue;
  }
}

@media (max-height: 20cm) {
  header {
    padding: 0.5rem;
  }

  .project-title {
    margin-bottom: 5px;
  }

  .project>img {
    height: 10rem;
    width: auto;
    margin: 7px;
  }
}

.bottom-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: var(--footer-bg);
  color: var(--footer-text);
  text-align: center;
  padding: 0.5rem;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

.separator {
  color: #555;
}
